{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    {% comment %}
    <link rel="stylesheet" href="/static/home/home.css" />
    {% endcomment %}
    <link rel="stylesheet" href="{% static 'home/home.css' %}" />

    {% comment %}
    <link
      href="C:\Users\Giuk\indieland\home\templates\home\home.css"
      rel="stylesheet"
    />
    {% endcomment %}
    <title>Document</title>
  </head>
  <body>
    <div class="e1_4609">
      <div class="e1_4610">
        <div class="ei1_4610_52056_22927">
          <span class="ei1_4610_50717_9075">Top Games</span>
        </div>
      </div>
      <div class="e1_4611">
        <div class="e1_4612">
          <div class="ei1_4612_54577_25957">
            <img class="top_games_img" src="{% static "image/item_1.png" %}"
            alt="First game image" >
          </div>
          <div class="ei1_4612_54577_25959">
            <img class="top_games_img" src="{% static "image/item_1.png" %}"
            alt="First game image" >
          </div>
          <div class="ei1_4612_54577_25961">
            <img class="top_games_img" src="{% static "image/item_1.png" %}"
            alt="First game image" >
          </div>
          <div class="ei1_4612_54577_25963">
            <img class="top_games_img" src="{% static "image/item_1.png" %}"
            alt="First game image" >
          </div>
        </div>
        <div class="e1_4613">
          <div class="e1_4614">
            <div class="ei1_4614_53923_27564">
              <label class="ei1_4614_53923_27565">Show all</label>
            </div>
          </div>
        </div>
      </div>
      <div class="e1_4615">
        <span class="e1_4616">Ranking</span>
        <div class="e1_4617">
          <div class="ei1_4617_51525_5219">
            <div class="ei1_4617_51525_5220">
              <div class="ei1_4617_51525_5221">
                <div class="ei1_4617_51525_5221_948_225140"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="e1_4618">
        <div class="e1_4619">
          <div class="ei1_4619_51964_65406">
            <div class="ei1_4619_51964_65407">
              <div class="ei1_4619_51964_65408">
                <div class="ei1_4619_51964_65408_51964_70967">
                  <img class='thumbnail' src="{% static "image/item_1.png" %}"
                  alt="First game image" >
                </div>
              </div>
            </div>
            <div class="ei1_4619_51964_65409">
              <span class="ei1_4619_51964_65411">산나비</span
              ><span class="ei1_4619_51964_65412">태그1, 태그2, 태그3 </span>
            </div>
            <div class="ei1_4619_51964_65413">
              <div class="ei1_4619_51964_65415">
                <div class="ei1_4619_51964_65415_54616_25432"></div>
              </div>
            </div>
          </div>
          <div class="ei1_4619_51964_65416">
            <div class="ei1_4619_51964_65416_51816_5871"></div>
          </div>
        </div>
        <div class="e1_4620">
          <div class="ei1_4620_51964_65406">
            <div class="ei1_4620_51964_65407">
              <div class="ei1_4620_51964_65408">
                <div class="ei1_4620_51964_65408_51964_70967">
                  <img class='thumbnail' src="{% static "image/item_1.png" %}"
                  alt="First game image" >
                </div>
              </div>
            </div>
            <div class="ei1_4620_51964_65409">
              <span class="ei1_4620_51964_65411">List item</span
              ><span class="ei1_4620_51964_65412"
                >Supporting line text lorem ipsum dolor sit amet,
                consectetur.</span
              >
            </div>
            <div class="ei1_4620_51964_65413">
              <div class="ei1_4620_51964_65415">
                <div class="ei1_4620_51964_65415_54616_25432"></div>
              </div>
            </div>
          </div>
          <div class="ei1_4620_51964_65416">
            <div class="ei1_4620_51964_65416_51816_5871"></div>
          </div>
        </div>
        <div class="e1_4621">
          <div class="ei1_4621_51964_65406">
            <div class="ei1_4621_51964_65407">
              <div class="ei1_4621_51964_65408">
                <div class="ei1_4621_51964_65408_51964_70967">
                  <img class='thumbnail' src="{% static "image/item_1.png" %}"
                  alt="First game image" >
                </div>
              </div>
            </div>
            <div class="ei1_4621_51964_65409">
              <span class="ei1_4621_51964_65411">List item</span
              ><span class="ei1_4621_51964_65412"
                >Supporting line text lorem ipsum dolor sit amet,
                consectetur.</span
              >
            </div>
            <div class="ei1_4621_51964_65413">
              <div class="ei1_4621_51964_65415">
                <div class="ei1_4621_51964_65415_54616_25432"></div>
              </div>
            </div>
          </div>
          <div class="ei1_4621_51964_65416">
            <div class="ei1_4621_51964_65416_51816_5871"></div>
          </div>
        </div>
        <div class="e1_4622">
          <div class="ei1_4622_51964_65406">
            <div class="ei1_4622_51964_65407">
              <div class="ei1_4622_51964_65408">
                <div class="ei1_4622_51964_65408_51964_70967">
                  <img class='thumbnail' src="{% static "image/item_1.png" %}"
                  alt="First game image" >
                </div>
              </div>
            </div>
            <div class="ei1_4622_51964_65409">
              <span class="ei1_4622_51964_65411">List item</span
              ><span class="ei1_4622_51964_65412"
                >Supporting line text lorem ipsum dolor sit amet,
                consectetur.</span
              >
            </div>
            <div class="ei1_4622_51964_65413">
              <div class="ei1_4622_51964_65415">
                <div class="ei1_4622_51964_65415_54616_25432"></div>
              </div>
            </div>
          </div>
          <div class="ei1_4622_51964_65416">
            <div class="ei1_4622_51964_65416_51816_5871"></div>
          </div>
        </div>
        <div class="e1_4623">
          <div class="ei1_4623_51964_65406">
            <div class="ei1_4623_51964_65407">
              <div class="ei1_4623_51964_65408">
                <div class="ei1_4623_51964_65408_51964_70967">
                  <img class='thumbnail' src="{% static "image/item_1.png" %}"
                  alt="First game image" >
                </div>
              </div>
            </div>
            <div class="ei1_4623_51964_65409">
              <span class="ei1_4623_51964_65411">List item</span
              ><span class="ei1_4623_51964_65412"
                >Supporting line text lorem ipsum dolor sit amet,
                consectetur.</span
              >
            </div>
            <div class="ei1_4623_51964_65413">
              <div class="ei1_4623_51964_65415">
                <div class="ei1_4623_51964_65415_54616_25432"></div>
              </div>
            </div>
          </div>
          <div class="ei1_4623_51964_65416">
            <div class="ei1_4623_51964_65416_51816_5871"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
