{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Your Game Site</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'assets/favicon.ico' %}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="{% static 'home/recommend.css' %}" rel="stylesheet" />
    <style>
      .navbar {
        background-color: #343a40; /* 네비게이션 바 색상 (어두운 회색) */
      }
      .navbar-brand,
      .nav-link {
        color: #ffffff !important; /* 글자 색상 */
        font-size: 18px; /* 글자 크기 조정 */
      }
      .navbar-brand:hover,
      .nav-link:hover {
        color: #ffc107 !important; /* 호버 색상 (노란색) */
      }
    </style>
  </head>

  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">게임 스토어</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mx-auto nav-center">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">홈</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'recommend' %}">추천</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">로그인</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}">회원 가입</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Header-->
    <header class="bg-dark py-5">
      <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Game Recommend</h1>
          <p class="lead fw-normal text-white-50 mb-0">
            How about these games?
          </p>
        </div>
      </div>
    </header>

    <!-- Section-->
    <script>
      function updateSelectedTags() {
        const selectedTags = Array.from(
          document.querySelectorAll('input[type="checkbox"]:checked')
        ).map((option) => option.value);
        document.getElementById("selected-tags").innerText =
          selectedTags.join(", ");
      }
    </script>
    <script>
      function submitForm() {
        const selectedTags = document
          .getElementById("selected-tags")
          .innerText.split(", "); // 문자열을 배열로 변환
        const form = document.createElement("form");
        form.method = "POST";
        form.action = '{% url "recommend" %}'; // URL을 적절히 수정하세요
        const csrfToken = document.querySelector(
          "[name=csrfmiddlewaretoken]"
        ).value;

        // CSRF 토큰 추가
        const csrfInput = document.createElement("input");
        csrfInput.type = "hidden";
        csrfInput.name = "csrfmiddlewaretoken";
        csrfInput.value = csrfToken;
        form.appendChild(csrfInput);

        // 선택한 태그 추가 (중복 선택 가능)
        selectedTags.forEach((tag) => {
          const input = document.createElement("input");
          input.type = "hidden";
          input.name = "tags"; // 같은 이름으로 여러 개 추가
          input.value = tag.trim(); // 공백 제거
          form.appendChild(input);
        });

        document.body.appendChild(form);
        form.submit();
      }
    </script>
    <div class="container d-flex justify-content-between">
      <div class="w-50">
        <h1>Select Game Tags</h1>
        <form action="{% url 'recommend' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="tags">Choose Tags:</label>
            <div class="form-check">
              <input
                type="checkbox"
                name="tags"
                class="form-check-input"
                id="action"
                value="액션"
                onchange="updateSelectedTags()"
              />
              <label class="form-check-label" for="action">액션</label>
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                name="tags"
                class="form-check-input"
                id="puzzle"
                value="퍼즐"
                onchange="updateSelectedTags()"
              />
              <label class="form-check-label" for="puzzle">퍼즐</label>
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                name="tags"
                class="form-check-input"
                id="rhythm"
                value="리듬"
                onchange="updateSelectedTags()"
              />
              <label class="form-check-label" for="rhythm">리듬</label>
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                name="tags"
                class="form-check-input"
                id="defense"
                value="디펜스"
                onchange="updateSelectedTags()"
              />
              <label class="form-check-label" for="defense">디펜스</label>
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                name="tags"
                class="form-check-input"
                id="visual_novel"
                value="비주얼 노벨"
                onchange="updateSelectedTags()"
              />
              <label class="form-check-label" for="visual_novel"
                >비주얼 노벨</label
              >
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                name="tags"
                class="form-check-input"
                id="rpg"
                value="RPG"
                onchange="updateSelectedTags()"
              />
              <label class="form-check-label" for="rpg">RPG</label>
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                name="tags"
                class="form-check-input"
                id="strategy"
                value="전략"
                onchange="updateSelectedTags()"
              />
              <label class="form-check-label" for="strategy">전략</label>
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                name="tags"
                class="form-check-input"
                id="adventure"
                value="어드벤처"
                onchange="updateSelectedTags()"
              />
              <label class="form-check-label" for="adventure">어드벤처</label>
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                name="tags"
                class="form-check-input"
                id="casual"
                value="캐주얼"
                onchange="updateSelectedTags()"
              />
              <label class="form-check-label" for="casual">캐주얼</label>
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                name="tags"
                class="form-check-input"
                id="simulation"
                value="시뮬레이션"
                onchange="updateSelectedTags()"
              />
              <label class="form-check-label" for="simulation"
                >시뮬레이션</label
              >
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                name="tags"
                class="form-check-input"
                id="platformer"
                value="플랫포머"
                onchange="updateSelectedTags()"
              />
              <label class="form-check-label" for="platformer">플랫포머</label>
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                name="tags"
                class="form-check-input"
                id="shooting"
                value="슈팅"
                onchange="updateSelectedTags()"
              />
              <label class="form-check-label" for="shooting">슈팅</label>
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                name="tags"
                class="form-check-input"
                id="horror"
                value="공포"
                onchange="updateSelectedTags()"
              />
              <label class="form-check-label" for="horror">공포</label>
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                name="tags"
                class="form-check-input"
                id="functional_game"
                value="기능성 게임"
                onchange="updateSelectedTags()"
              />
              <label class="form-check-label" for="functional_game"
                >기능성 게임</label
              >
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                name="tags"
                class="form-check-input"
                id="etc"
                value="기타"
                onchange="updateSelectedTags()"
              />
              <label class="form-check-label" for="etc">기타</label>
            </div>
          </div>
          <div class="form-group mt-3">
            <label for="selected-tags">Selected Tags:</label>
            <div
              id="selected-tags"
              class="border p-2"
              style="min-height: 40px; width: 500px"
            ></div>
          </div>
          <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
      </div>

      <div class="w-50">
        <div class="mt-5">
          <h2>Available Games Top 10</h2>
          <ul class="list-group mt-3">
            {% for game in games|slice:":10" %}
            <li class="list-group-item">
              <a href="{% url 'detail' game.id %}">{{ game.name }}</a>
              {% for tag in game.tags.all %}
              <span class="badge bg-{{ tag.id }}">{{ tag.name }}</span>
              {% endfor %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
      <div class="container text-center">
        <!-- text-center 추가 -->
        <p class="m-0 text-white">Copyright &copy; Your Game Site 2024</p>
      </div>
    </footer>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
