<!DOCTYPE html>
<html lang="en">

  <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'home/styles.css' %}">
  </head>

  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'home' %}">Your Game Site</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container" style="margin-top: 50px;">
      <h2>Sign Up</h2>

      <!-- Display validation errors -->
      {% if errors %}
        <div class="alert alert-danger">
          <ul>
            {% for field, error_messages in errors.items %}
              <li>{{ field }}:
                {{ error_messages.0 }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" class="form-control" required="required">
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" class="form-control" required="required">
        </div>
        <div class="form-group">
          <label for="nickname">Nickname:</label>
          <input type="nickname" id="nickname" name="nickname" class="form-control" required="required">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <!-- Changed from password1 to password -->
          <input type="password" id="password" name="password" class="form-control" required="required">
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password:</label>
          <input type="password" id="password2" name="password2" class="form-control" required="required">
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Sign Up</button>
      </form>
    </div>
  </body>

</html>
